<style>
  .newsletter-sidebar-column {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .newsletter-sidebar-column:last-child {
    align-items: stretch;
  }
  .newsletter-sidebar-column {
    margin-bottom: 10px;
  }
</style>

{% if section.settings.sidebar_placement == "top" %}
    {% assign sidebar_row_class = "row justify-content-between" %}
    {% assign sidebar_item_col_class = "col" %}
{% endif %}

<div class="newsletter-sidebar {{ sidebar_row_class }}">
  {% for block in section.blocks %}
    <div class="newsletter-sidebar-column {{ sidebar_item_col_class }}">
      {% include block.type %}
    </div>
  {% endfor %}
</div>
