<!-- Production Navigation Menu -->
<nav class="an-nav" kjb-settings-id="{{ 'background_color' | settings_id: section: section }}">
  <div class="an-nav__container">
    
    <!-- Logo/Brand -->
    <div class="an-nav__brand">
      <a href="/" class="an-nav__logo">
        AttachmentNerd
      </a>
    </div>
    
    <!-- Main Navigation -->
    <ul class="an-nav__menu">
      <li class="an-nav__item">
        <a href="/" class="an-nav__link">Home</a>
      </li>
      <li class="an-nav__item">
        <a href="/about" class="an-nav__link">About</a>
      </li>
      <li class="an-nav__item">
        <a href="/courses" class="an-nav__link">Courses</a>
      </li>
      <li class="an-nav__item">
        <a href="/blog" class="an-nav__link">Blog</a>
      </li>
      <li class="an-nav__item">
        <a href="/contact" class="an-nav__link">Contact</a>
      </li>
    </ul>
    
    <!-- CTA Button -->
    <div class="an-nav__cta">
      <a href="/login" class="an-nav__button an-nav__button--primary">
        Login
      </a>
      <a href="/signup" class="an-nav__button an-nav__button--secondary">
        Sign Up
      </a>
    </div>
    
    <!-- Mobile Toggle -->
    <button class="an-nav__toggle" type="button">
      <span class="an-nav__toggle-line"></span>
      <span class="an-nav__toggle-line"></span>
      <span class="an-nav__toggle-line"></span>
    </button>
    
  </div>
</nav>
