<!doctype html>
<html lang="{{ current_site.locale | default: "en" }}">
  {% include "global_head" %}
  {% include "global_background" %}
  <body id="encore-theme" class="background-{{ settings.background_color | color_scheme_class }}">
    {% include "alert_messages" %}
    <div class="header">
    <main>
      {{ content_for_layout }}
    </main>
    <div class="footer">
    {% include "global_scripts" %}
  </body>
</html>
