<!doctype html>
<html lang="{{ current_site.locale | default: "en" }}">
  {% include "global_head" %}
  {% include "global_background" %}
  <body class="background-{{ settings.background_color | color_scheme_class }}">
    <main>
      {{ content_for_layout }}
    </main>
    {% include "global_scripts" %}
  </body>
</html>
